{
	"semi": false,
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"arrowParens": "avoid",
	"experimentalOperatorPosition": "start",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
