<module-coloreditor color="#36a2de" name="Blue">
	<div class="graph"></div>
	<card-colorscale class="scale small" color="#36a2de">
		<ol role="presentation">
			<li class="lighten80"></li>
			<li class="lighten60"></li>
			<li class="lighten40"></li>
			<li class="lighten20"></li>
			<li class="base">
				<span class="label">
					<strong>Blue</strong>
					<small>#36a2de</small>
				</span>
			</li>
			<li class="darken20"></li>
			<li class="darken40"></li>
			<li class="darken60"></li>
			<li class="darken80"></li>
		</ol>
	</card-colorscale>
	<form-textbox class="name">
		<label for="name-input">Color name</label>
		<div class="input">
			<input
				type="text"
				id="name-input"
				name="name"
				value="Blue"
				required
			/>
		</div>
		<p class="error" aria-live="assertive" id="name-error"></p>
	</form-textbox>
	<form-colorslider class="lightness" color="#36a2de" axis="l">
		<label for="lightness">Lightness</label>
		<div class="input">
			<input id="lightness" name="lightness" type="number" />
			<span class="unit">%</span>
		</div>
		<div class="buttons">
			<button type="button" class="decrement" aria-label="Decrement">
				−
			</button>
			<button type="button" class="increment" aria-label="Increment">
				+
			</button>
		</div>
		<div class="slider" role="slider" tabindex="0" aria-controls="hue">
			<canvas width="360" height="1"></canvas>
			<span class="thumb"></span>
		</div>
	</form-colorslider>
	<form-colorslider class="chroma" color="#36a2de" axis="c">
		<label for="chroma">Chroma</label>
		<div class="input">
			<input id="chroma" name="chroma" type="number" />
		</div>
		<div class="buttons">
			<button type="button" class="decrement" aria-label="Decrement">
				−
			</button>
			<button type="button" class="increment" aria-label="Increment">
				+
			</button>
		</div>
		<div class="slider" role="slider" tabindex="0" aria-controls="hue">
			<canvas width="360" height="1"></canvas>
			<span class="thumb"></span>
		</div>
	</form-colorslider>
	<form-colorslider class="hue" color="#36a2de" axis="h">
		<label for="hue">Hue</label>
		<div class="input">
			<input id="hue" name="hue" type="number" />
			<span class="unit">°</span>
		</div>
		<div class="buttons">
			<button type="button" class="decrement" aria-label="Decrement">
				−
			</button>
			<button type="button" class="increment" aria-label="Increment">
				+
			</button>
		</div>
		<div class="slider" role="slider" tabindex="0" aria-controls="hue">
			<canvas width="360" height="1"></canvas>
			<span class="thumb"></span>
		</div>
	</form-colorslider>
	<div class="info">
		<module-colorinfo class="lighten80" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="lighten60" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="lighten40" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="lighten20" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="base" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="darken20" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="darken40" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="darken60" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
		<module-colorinfo class="darken80" color="#36a2de">
			<details>
				<summary>
					<div class="summary">
						<span class="swatch"></span>
						<span class="label">
							<strong>Blue</strong>
							<small class="value">#36a2de</small>
						</span>
					</div>
				</summary>
				<div class="details">
					<dl>
						<dt>Lightness:</dt>
						<dd class="lightness"></dd>
						<dt>Chroma:</dt>
						<dd class="chroma"></dd>
						<dt>Hue:</dt>
						<dd class="hue"></dd>
					</dl>
					<dl>
						<dt>OKLCH:</dt>
						<dd class="oklch"></dd>
						<dt>RGB:</dt>
						<dd class="rgb"></dd>
						<dt>HSL:</dt>
						<dd class="hsl"></dd>
					</dl>
				</div>
			</details>
		</module-colorinfo>
	</div>
</module-coloreditor>
