<form-combobox value="">
	<label for="timezone-input" id="city-label">Choose a timezone</label>
	<div class="input">
		<input
			id="timezone-input"
			type="text"
			role="combobox"
			aria-expanded="false"
			aria-controls="timezone-popup"
			aria-autocomplete="list"
			autocomplete="off"
			required
		/>
		<form-listbox
			id="timezone-popup"
			src="examples/data/timezones.json"
			hidden
		>
			<card-callout>
				<p class="loading" role="status">Loading...</p>
				<p class="error" role="alert" aria-live="polite" hidden></p>
			</card-callout>
			<module-scrollarea orientation="vertical">
				<div role="listbox" aria-label="Timezones" hidden></div>
			</module-scrollarea>
		</form-listbox>
		<button type="button" class="clear" aria-label="Clear input" hidden>
			✕
		</button>
	</div>
	<p class="error" aria-live="assertive" id="timezone-error"></p>
	<p class="description" aria-live="polite" id="timezone-description">
		Tell us where you live so we can set your timezone for our calendar and
		notification features.
	</p>
</form-combobox>
