<module-pagination max="10" value="1">
	<div>
		<label>
			<span class="visually-hidden">Page</span>
			<input type="number" name="page" min="1" max="10" value="1" />
		</label>
		<span class="value visually-hidden" aria-current="page">1</span> of
		<span class="max">10</span>
	</div>
	<div class="buttons">
		<button type="button" class="prev" disabled aria-label="Previous page">
			❮
		</button>
		<button type="button" class="next" aria-label="Next page">❯</button>
	</div>
</module-pagination>
