<<todo-app>
	<todo-form>
		<form action="#">
			<input-field>
				<label for="add-todo">What needs to be done?</label>
				<div class="row">
					<div class="group auto">
						<input id="add-todo" type="text" value="" required>
					</div>
				</div>
			</input-field>
			<input-button class="submit">
				<button type="submit" class="primary" disabled>Add Todo</button>
			</input-button>
		</form>
	</todo-form>
	<todo-list filter="all">
		<ol></ol>
		<template>
			<li>
				<input-checkbox class="todo">
					<label>
						<input type="checkbox" class="visually-hidden" />
						<span></span>
					</label>
				</input-checkbox>
				<input-button>
					<button type="button">Delete</button>
				</input-button>
			</li>
		</template>
	</todo-list>
	<footer>
		<todo-count>
			<p class="all-done">Well done, all done!</p>
			<p class="remaining"><span></span> tasks left</p>
		</todo-count>
		<input-radiogroup value="all" class="split-button">
			<fieldset>
				<legend class="visually-hidden">Filter</legend>
					<label class="selected">
						<input type="radio" class="visually-hidden" name="filter" value="all" checked>
						<span>All</span>
					</label>
					<label>
						<input type="radio" class="visually-hidden" name="filter" value="active">
						<span>Active</span>
					</label>
					<label>
						<input type="radio" class="visually-hidden" name="filter" value="completed">
						<span>Completed</span>
					</label>
			</fieldset>
		</input-radiogroup>
		<input-button class="clear-completed">
			<button type="button">Clear Completed</button>
		</input-button>
	</footer>
</todo-app>