<accordion-panel>
	<details open aria-disabled="true">
		<summary class="visually-hidden">
			<div class="summary">Tab 1</div>
		</summary>
		Content for Tab 1
	</details>
</accordion-panel>
<accordion-panel>
	<details aria-disabled="true">
		<summary class="visually-hidden">
			<div class="summary">Tab 2</div>
		</summary>
		Content for Tab 2
	</details>
</accordion-panel>
<accordion-panel>
	<details aria-disabled="true">
		<summary class="visually-hidden">
			<div class="summary">Tab 3</div>
		</summary>
		Content for Tab 3
	</details>
</accordion-panel>