<rating-stars>
	<fieldset>
		<legend class="visually-hidden">Rate</legend>
		<label>
			<input type="radio" class="visually-hidden" name="rating" value="1">
			<span class="label">☆</span>
		</label>
		<label>
			<input type="radio" class="visually-hidden" name="rating" value="2">
			<span class="label">☆</span>
		</label>
		<label>
			<input type="radio" class="visually-hidden" name="rating" value="3">
			<span class="label">☆</span>
		</label>
		<label>
			<input type="radio" class="visually-hidden" name="rating" value="4">
			<span class="label">☆</span>
		</label>
		<label>
			<input type="radio" class="visually-hidden" name="rating" value="5">
			<span class="label">☆</span>
		</label>
	</fieldset>
</rating-stars>