<module-tabgroup>
	<div role="tablist">
		<button
			type="button"
			role="tab"
			id="trigger_module-scrollarea.html"
			aria-controls="panel_module-scrollarea.html"
			aria-selected="false"
			tabindex="-1"
		>HTML</button><button
			type="button"
			role="tab"
			id="trigger_module-scrollarea.css"
			aria-controls="panel_module-scrollarea.css"
			aria-selected="false"
			tabindex="-1"
		>CSS</button><button
			type="button"
			role="tab"
			id="trigger_module-scrollarea.ts"
			aria-controls="panel_module-scrollarea.ts"
			aria-selected="true"
			tabindex="0"
		>TypeScript</button>
	</div>
	<div role="tabpanel" id="panel_module-scrollarea.html" aria-labelledby="trigger_module-scrollarea.html" hidden>
	<module-codeblock language="html" copy-success="Copied!" copy-error="Error trying to copy to clipboard!">
		<p class="meta">
			<span class="file">module-scrollarea.html</span>
			<span class="language">html</span>
		</p>
		<pre class="shiki monokai" style="background-color:#272822;color:#F8F8F2" tabindex="0"><code><span class="line"><span style="color:#F8F8F2">&#x3C;</span><span style="color:#F92672">module-scrollarea</span><span style="color:#A6E22E"> orientation</span><span style="color:#F8F8F2">=</span><span style="color:#E6DB74">"vertical"</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#F8F8F2">	&#x3C;</span><span style="color:#F92672">div</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#F8F8F2">		&#x3C;</span><span style="color:#F92672">p</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#F8F8F2">			Forts torterep mansporternme hood, weres mainig foold low, awayor</span></span>
<span class="line"><span style="color:#F8F8F2">			inged penecke acrief naugui lancenc. Rationfic privac screbuid he</span></span>
<span class="line"><span style="color:#F8F8F2">			thelth minfi foodies lents ingencened ciliessehor flatinuedus</span></span>
<span class="line"><span style="color:#F8F8F2">			woutearts reopers govened le muriva aroute food reigit comisporters.</span></span>
<span class="line"><span style="color:#F8F8F2">			Tor volle stable thign they forter ext — fued leare supple thated</span></span>
<span class="line"><span style="color:#F8F8F2">			pres anker. Towth theatione dates firmen reig twour trundelay</span></span>
<span class="line"><span style="color:#F8F8F2">			dinareban ine cres rebuicesin, ne thatedgete cauguille heacrent,</span></span>
<span class="line"><span style="color:#F8F8F2">			asever necks twountralism run. Led hood lationd; witareope meraing</span></span>
<span class="line"><span style="color:#F8F8F2">			overformar adight con bat pares somes puted tablanco comisporem.</span></span>
<span class="line"><span style="color:#F8F8F2">			Prom neerfore leacci dangeno inals cleaskete prial whiche gaidayor —</span></span>
<span class="line"><span style="color:#F8F8F2">			fileare woutinflon maine shispo cond cludi surarepor — yeals. Region</span></span>
<span class="line"><span style="color:#F8F8F2">			that tablandliz horecto werge hild theading, lonote thearationa</span></span>
<span class="line"><span style="color:#F8F8F2">			while cials and asked. Hould thate pree, recovernaug woution -</span></span>
<span class="line"><span style="color:#F8F8F2">			suncentrain injurnarar flater econals emateated cominut tabilingenc</span></span>
<span class="line"><span style="color:#F8F8F2">			whicita sparown. Emprad table for covencominthar of, se fring yeavy</span></span>
<span class="line"><span style="color:#F8F8F2">			woutes cation aftereba nedge vold wationfili lan ces cater. Suntry</span></span>
<span class="line"><span style="color:#F8F8F2">			de con fachal a ovation, mismis oustabile onaudespor onoution disin</span></span>
<span class="line"><span style="color:#F8F8F2">			ports hel somish. Cural newe, seckerelter thremais aromency hospuble</span></span>
<span class="line"><span style="color:#F8F8F2">			- woustrals imprary injurices schelagg bottlight rers cleat mande</span></span>
<span class="line"><span style="color:#F8F8F2">			wernig renompor re awa th. Nal yeadistry govaccen heart whichatio</span></span>
<span class="line"><span style="color:#F8F8F2">			guileasur ater afternare asemed ficks pries, canat ribedgeter thal</span></span>
<span class="line"><span style="color:#F8F8F2">			pral. Clunnove fland cith semaing frief ened whippits ecosporkets</span></span>
<span class="line"><span style="color:#F8F8F2">			pencedust wergeted ould wageted hance offirmainate itarnign hil</span></span>
<span class="line"><span style="color:#F8F8F2">			dissemprigittlead. Torteres asted bution somid nex grow win, could</span></span>
<span class="line"><span style="color:#F8F8F2">			may ral twound thelcomearg spormain muteeter. Saidaysterebui ce</span></span>
<span class="line"><span style="color:#F8F8F2">			knext, wousep, mates foodight that day cos mar catelcou would</span></span>
<span class="line"><span style="color:#F8F8F2">			threporess comeastorms. For lottlighbot buiday - sputers ing</span></span>
<span class="line"><span style="color:#F8F8F2">			parketered anked prationspub raing; secome fews citeduel dighbot;</span></span>
<span class="line"><span style="color:#F8F8F2">			neighlized ontrang suntion afted. Spilited wousts promiden, rivent</span></span>
<span class="line"><span style="color:#F8F8F2">			ria volled turat had saing lizaters, seckets cremed subdued offills.</span></span>
<span class="line"><span style="color:#F8F8F2">			Faccen, ithe crur it crudinthic lans thear snanning ope dinjur din</span></span>
<span class="line"><span style="color:#F8F8F2">			deeklys. By inutle, comisin prold on the torts onstr muted, cenewers</span></span>
<span class="line"><span style="color:#F8F8F2">			rebuilen forta whighlief conficild. Deets whipply clea runtedust</span></span>
<span class="line"><span style="color:#F8F8F2">			govacromed caudighbor wernapithead forals tiondl clunducto prove</span></span>
<span class="line"><span style="color:#F8F8F2">			hipplater rals foremealy report saitim mained. Ral tabillized</span></span>
<span class="line"><span style="color:#F8F8F2">			fortestr rals - amint clunnot a waggentraid acins facrossubd colu</span></span>
<span class="line"><span style="color:#F8F8F2">			restescrog agge sureekly. Catore oper th witned holds majorts accith</span></span>
<span class="line"><span style="color:#F8F8F2">			conaude witer faccittle thre plande am. Recaudener dighbo rementh</span></span>
<span class="line"><span style="color:#F8F8F2">			supple prinernined recks aftearief cesinsts whign sainints crudenote</span></span>
<span class="line"><span style="color:#F8F8F2">			facenover prover, facregitnexche. Horter trudenal — win mares</span></span>
<span class="line"><span style="color:#F8F8F2">			imentes prold nectional cond on afted plear porked rendanned -</span></span>
<span class="line"><span style="color:#F8F8F2">			stranks ace. Awaing, dighboter bang autlizaterals couteady sparkets</span></span>
<span class="line"><span style="color:#F8F8F2">			housed crices deducto ing talteas ned ittle; coned.</span></span>
<span class="line"><span style="color:#F8F8F2">		&#x3C;/</span><span style="color:#F92672">p</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#F8F8F2">	&#x3C;/</span><span style="color:#F92672">div</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#F8F8F2">&#x3C;/</span><span style="color:#F92672">module-scrollarea</span><span style="color:#F8F8F2">></span></span>
<span class="line"></span></code></pre>
		<basic-button class="copy">
			<button type="button" class="secondary small">
				<span class="label">Copy</span>
			</button>
		</basic-button>
	</module-codeblock>
</div>
<div role="tabpanel" id="panel_module-scrollarea.css" aria-labelledby="trigger_module-scrollarea.css" hidden>
	<module-codeblock language="css" copy-success="Copied!" copy-error="Error trying to copy to clipboard!">
		<p class="meta">
			<span class="file">module-scrollarea.css</span>
			<span class="language">css</span>
		</p>
		<pre class="shiki monokai" style="background-color:#272822;color:#F8F8F2" tabindex="0"><code><span class="line"><span style="color:#F92672">module-scrollarea</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">	display</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">block</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">	position</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">relative</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">	-webkit-overflow-scrolling</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">touch</span><span style="color:#F8F8F2">; </span><span style="color:#88846F">/* iOS Overflow Momentum Scroll */</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">	> * {</span></span>
<span class="line"><span style="color:#F8F8F2">		&#x26;::before,</span></span>
<span class="line"><span style="color:#F8F8F2">		&#x26;::after {</span></span>
<span class="line"><span style="color:#66D9EF">			content</span><span style="color:#F8F8F2">: </span><span style="color:#E6DB74">""</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			display</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">block</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			position</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">sticky</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			opacity</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">0</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			transition</span><span style="color:#F8F8F2">: opacity </span><span style="color:#66D9EF">var</span><span style="color:#F8F8F2">(--transition-short);</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			z-index</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">1</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			pointer-events</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">none</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"><span style="color:#F8F8F2">	}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">	&#x26;[</span><span style="color:#A6E22E">orientation</span><span style="color:#F92672">=</span><span style="color:#E6DB74">"horizontal"</span><span style="color:#F8F8F2">] {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">		overflow-x</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">auto</span><span style="color:#F8F8F2">;</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">		> * {</span></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;::before,</span></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;::after {</span></span>
<span class="line"><span style="color:#F8F8F2">				height: </span><span style="color:#AE81FF">100</span><span style="color:#F92672">%</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				width</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">var</span><span style="color:#F8F8F2">(--space-s);</span></span>
<span class="line"><span style="color:#F8F8F2">			}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;</span><span style="color:#A6E22E">::before</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				left</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">0</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				background</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">linear-gradient</span><span style="color:#F8F8F2">(</span></span>
<span class="line"><span style="color:#F92672">					to</span><span style="color:#66D9EF"> left</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					transparent</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					var</span><span style="color:#F8F8F2">(--color-shadow)</span></span>
<span class="line"><span style="color:#F8F8F2">				);</span></span>
<span class="line"><span style="color:#F8F8F2">			}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;</span><span style="color:#A6E22E">::after</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				right</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">0</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				background</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">linear-gradient</span><span style="color:#F8F8F2">(</span></span>
<span class="line"><span style="color:#F92672">					to</span><span style="color:#66D9EF"> right</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					transparent</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					var</span><span style="color:#F8F8F2">(--color-shadow)</span></span>
<span class="line"><span style="color:#F8F8F2">				);</span></span>
<span class="line"><span style="color:#F8F8F2">			}</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">		&#x26;</span><span style="color:#A6E22E">.overflow-start</span><span style="color:#F92672"> ></span><span style="color:#F92672"> *</span><span style="color:#A6E22E">::before</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			opacity</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">1</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">		&#x26;</span><span style="color:#A6E22E">.overflow-end</span><span style="color:#F92672"> ></span><span style="color:#F92672"> *</span><span style="color:#A6E22E">::after</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			opacity</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">1</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"><span style="color:#F8F8F2">	}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">	&#x26;[</span><span style="color:#A6E22E">orientation</span><span style="color:#F92672">=</span><span style="color:#E6DB74">"vertical"</span><span style="color:#F8F8F2">] {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">		overflow-y</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">auto</span><span style="color:#F8F8F2">;</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">		> * {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			container-type</span><span style="color:#F8F8F2">: inline-size;</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;::before,</span></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;::after {</span></span>
<span class="line"><span style="color:#F8F8F2">				width: </span><span style="color:#AE81FF">100</span><span style="color:#F92672">%</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				height</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">var</span><span style="color:#F8F8F2">(--space-m);</span></span>
<span class="line"><span style="color:#F8F8F2">			}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;</span><span style="color:#A6E22E">::before</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				top</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">0</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				background</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">linear-gradient</span><span style="color:#F8F8F2">(</span></span>
<span class="line"><span style="color:#F92672">					to</span><span style="color:#66D9EF"> top</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					transparent</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					var</span><span style="color:#F8F8F2">(--color-shadow)</span></span>
<span class="line"><span style="color:#F8F8F2">				);</span></span>
<span class="line"><span style="color:#F8F8F2">			}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">			&#x26;</span><span style="color:#A6E22E">::after</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				bottom</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">0</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				background</span><span style="color:#F8F8F2">: </span><span style="color:#66D9EF">linear-gradient</span><span style="color:#F8F8F2">(</span></span>
<span class="line"><span style="color:#F92672">					to</span><span style="color:#66D9EF"> bottom</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					transparent</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#66D9EF">					var</span><span style="color:#F8F8F2">(--color-shadow)</span></span>
<span class="line"><span style="color:#F8F8F2">				);</span></span>
<span class="line"><span style="color:#F8F8F2">			}</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">		&#x26;</span><span style="color:#A6E22E">.overflow-start</span><span style="color:#F92672"> ></span><span style="color:#F92672"> *</span><span style="color:#A6E22E">::before</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			opacity</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">1</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">		&#x26;</span><span style="color:#A6E22E">.overflow-end</span><span style="color:#F92672"> ></span><span style="color:#F92672"> *</span><span style="color:#A6E22E">::after</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">			opacity</span><span style="color:#F8F8F2">: </span><span style="color:#AE81FF">1</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#F8F8F2">		}</span></span>
<span class="line"><span style="color:#F8F8F2">	}</span></span>
<span class="line"><span style="color:#F8F8F2">}</span></span>
<span class="line"></span></code></pre>
		<basic-button class="copy">
			<button type="button" class="secondary small">
				<span class="label">Copy</span>
			</button>
		</basic-button>
	</module-codeblock>
</div>
<div role="tabpanel" id="panel_module-scrollarea.ts" aria-labelledby="trigger_module-scrollarea.ts">
	<module-codeblock language="ts" copy-success="Copied!" copy-error="Error trying to copy to clipboard!">
		<p class="meta">
			<span class="file">module-scrollarea.ts</span>
			<span class="language">ts</span>
		</p>
		<pre class="shiki monokai" style="background-color:#272822;color:#F8F8F2" tabindex="0"><code><span class="line"><span style="color:#F92672">import</span><span style="color:#F8F8F2"> { batch, </span><span style="color:#F92672">type</span><span style="color:#F8F8F2"> Component, component, on, toggleClass } </span><span style="color:#F92672">from</span><span style="color:#E6DB74"> '../../..'</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F92672">export</span><span style="color:#66D9EF;font-style:italic"> type</span><span> </span><span style="color:#A6E22E;text-decoration:underline">ModuleScrollareaProps</span><span style="color:#F92672"> =</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#F92672">	readonly</span><span style="color:#F8F8F2"> overflowStart</span><span style="color:#F92672">:</span><span style="color:#66D9EF;font-style:italic"> boolean</span></span>
<span class="line"><span style="color:#F92672">	readonly</span><span style="color:#F8F8F2"> overflowEnd</span><span style="color:#F92672">:</span><span style="color:#66D9EF;font-style:italic"> boolean</span></span>
<span class="line"><span style="color:#F8F8F2">}</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F92672">export</span><span style="color:#F92672"> default</span><span style="color:#A6E22E"> component</span><span style="color:#F8F8F2">(</span></span>
<span class="line"><span style="color:#E6DB74">	'module-scrollarea'</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#F8F8F2">	{</span></span>
<span class="line"><span style="color:#F8F8F2">		overflowStart: </span><span style="color:#AE81FF">false</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#F8F8F2">		overflowEnd: </span><span style="color:#AE81FF">false</span><span style="color:#F8F8F2">,</span></span>
<span class="line"><span style="color:#F8F8F2">	},</span></span>
<span class="line"><span style="color:#FD971F;font-style:italic">	el</span><span style="color:#66D9EF;font-style:italic"> =></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">		const</span><span style="color:#F8F8F2"> isHorizontal </span><span style="color:#F92672">=</span><span style="color:#F8F8F2"> el.</span><span style="color:#A6E22E">getAttribute</span><span style="color:#F8F8F2">(</span><span style="color:#E6DB74">'orientation'</span><span style="color:#F8F8F2">) </span><span style="color:#F92672">===</span><span style="color:#E6DB74"> 'horizontal'</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">		const</span><span style="color:#A6E22E"> hasOverflow</span><span style="color:#F92672"> =</span><span style="color:#F8F8F2"> () </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> el.overflowStart </span><span style="color:#F92672">||</span><span style="color:#F8F8F2"> el.overflowEnd</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">		let</span><span style="color:#F8F8F2"> scrolling</span><span style="color:#F92672">:</span><span style="color:#66D9EF;font-style:italic"> number</span><span style="color:#F92672"> |</span><span style="color:#66D9EF;font-style:italic"> null</span><span style="color:#F92672"> =</span><span style="color:#AE81FF"> null</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F92672">		return</span><span style="color:#F8F8F2"> [</span></span>
<span class="line"><span style="color:#F8F8F2">			() </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				const</span><span style="color:#F8F8F2"> child </span><span style="color:#F92672">=</span><span style="color:#F8F8F2"> el.firstElementChild</span></span>
<span class="line"><span style="color:#F92672">				if</span><span style="color:#F8F8F2"> (</span><span style="color:#F92672">!</span><span style="color:#F8F8F2">child) </span><span style="color:#F92672">return</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">				const</span><span style="color:#F8F8F2"> observer </span><span style="color:#F92672">=</span><span style="color:#F92672"> new</span><span style="color:#A6E22E"> IntersectionObserver</span><span style="color:#F8F8F2">(</span></span>
<span class="line"><span style="color:#F8F8F2">					([</span><span style="color:#FD971F;font-style:italic">entry</span><span style="color:#F8F8F2">]) </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#F92672">						if</span><span style="color:#F8F8F2"> (</span></span>
<span class="line"><span style="color:#F8F8F2">							entry.intersectionRatio </span><span style="color:#F92672">></span><span style="color:#AE81FF"> 0</span><span style="color:#F92672"> &#x26;&#x26;</span></span>
<span class="line"><span style="color:#F8F8F2">							entry.intersectionRatio </span><span style="color:#F92672">&#x3C;</span><span style="color:#AE81FF"> 0.999</span><span style="color:#88846F"> // ignore rounding errors of fraction pixels</span></span>
<span class="line"><span style="color:#F8F8F2">						) {</span></span>
<span class="line"><span style="color:#F8F8F2">							el.overflowEnd </span><span style="color:#F92672">=</span><span style="color:#AE81FF"> true</span></span>
<span class="line"><span style="color:#F8F8F2">						} </span><span style="color:#F92672">else</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#A6E22E">							batch</span><span style="color:#F8F8F2">(() </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#F8F8F2">								el.overflowStart </span><span style="color:#F92672">=</span><span style="color:#AE81FF"> false</span></span>
<span class="line"><span style="color:#F8F8F2">								el.overflowEnd </span><span style="color:#F92672">=</span><span style="color:#AE81FF"> false</span></span>
<span class="line"><span style="color:#F8F8F2">							})</span></span>
<span class="line"><span style="color:#F8F8F2">						}</span></span>
<span class="line"><span style="color:#F8F8F2">					},</span></span>
<span class="line"><span style="color:#F8F8F2">					{</span></span>
<span class="line"><span style="color:#F8F8F2">						root: el,</span></span>
<span class="line"><span style="color:#F8F8F2">						threshold: [</span><span style="color:#AE81FF">0</span><span style="color:#F8F8F2">, </span><span style="color:#AE81FF">0.999</span><span style="color:#F8F8F2">],</span></span>
<span class="line"><span style="color:#F8F8F2">					},</span></span>
<span class="line"><span style="color:#F8F8F2">				)</span></span>
<span class="line"><span style="color:#F8F8F2">				observer.</span><span style="color:#A6E22E">observe</span><span style="color:#F8F8F2">(child)</span></span>
<span class="line"><span style="color:#F92672">				return</span><span style="color:#F8F8F2"> () </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#F8F8F2">					observer.</span><span style="color:#A6E22E">disconnect</span><span style="color:#F8F8F2">()</span></span>
<span class="line"><span style="color:#F8F8F2">				}</span></span>
<span class="line"><span style="color:#F8F8F2">			},</span></span>
<span class="line"><span style="color:#A6E22E">			toggleClass</span><span style="color:#F8F8F2">(</span><span style="color:#E6DB74">'overflow'</span><span style="color:#F8F8F2">, hasOverflow),</span></span>
<span class="line"><span style="color:#A6E22E">			toggleClass</span><span style="color:#F8F8F2">(</span><span style="color:#E6DB74">'overflow-start'</span><span style="color:#F8F8F2">, </span><span style="color:#E6DB74">'overflowStart'</span><span style="color:#F8F8F2">),</span></span>
<span class="line"><span style="color:#A6E22E">			toggleClass</span><span style="color:#F8F8F2">(</span><span style="color:#E6DB74">'overflow-end'</span><span style="color:#F8F8F2">, </span><span style="color:#E6DB74">'overflowEnd'</span><span style="color:#F8F8F2">),</span></span>
<span class="line"><span style="color:#A6E22E">			on</span><span style="color:#F8F8F2">(</span><span style="color:#E6DB74">'scroll'</span><span style="color:#F8F8F2">, () </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#F92672">				if</span><span style="color:#F8F8F2"> (</span><span style="color:#F92672">!</span><span style="color:#A6E22E">hasOverflow</span><span style="color:#F8F8F2">()) </span><span style="color:#F92672">return</span></span>
<span class="line"><span style="color:#F92672">				if</span><span style="color:#F8F8F2"> (scrolling) </span><span style="color:#A6E22E">cancelAnimationFrame</span><span style="color:#F8F8F2">(scrolling)</span></span>
<span class="line"><span style="color:#F8F8F2">				scrolling </span><span style="color:#F92672">=</span><span style="color:#A6E22E"> requestAnimationFrame</span><span style="color:#F8F8F2">(() </span><span style="color:#66D9EF;font-style:italic">=></span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#F8F8F2">					scrolling </span><span style="color:#F92672">=</span><span style="color:#AE81FF"> null</span></span>
<span class="line"><span style="color:#F8F8F2">					el.overflowStart </span><span style="color:#F92672">=</span><span style="color:#F8F8F2"> isHorizontal</span></span>
<span class="line"><span style="color:#F92672">						?</span><span style="color:#F8F8F2"> el.scrollLeft </span><span style="color:#F92672">></span><span style="color:#AE81FF"> 0</span></span>
<span class="line"><span style="color:#F92672">						:</span><span style="color:#F8F8F2"> el.scrollTop </span><span style="color:#F92672">></span><span style="color:#AE81FF"> 0</span></span>
<span class="line"><span style="color:#F8F8F2">					el.overflowEnd </span><span style="color:#F92672">=</span><span style="color:#F8F8F2"> isHorizontal</span></span>
<span class="line"><span style="color:#F92672">						?</span><span style="color:#F8F8F2"> el.scrollLeft </span><span style="color:#F92672">&#x3C;</span><span style="color:#F8F8F2"> el.scrollWidth </span><span style="color:#F92672">-</span><span style="color:#F8F8F2"> el.offsetWidth</span></span>
<span class="line"><span style="color:#F92672">						:</span><span style="color:#F8F8F2"> el.scrollTop </span><span style="color:#F92672">&#x3C;</span><span style="color:#F8F8F2"> el.scrollHeight </span><span style="color:#F92672">-</span><span style="color:#F8F8F2"> el.offsetHeight</span></span>
<span class="line"><span style="color:#F8F8F2">				})</span></span>
<span class="line"><span style="color:#F8F8F2">			}),</span></span>
<span class="line"><span style="color:#F8F8F2">		]</span></span>
<span class="line"><span style="color:#F8F8F2">	},</span></span>
<span class="line"><span style="color:#F8F8F2">)</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F92672">declare</span><span style="color:#F8F8F2"> global {</span></span>
<span class="line"><span style="color:#66D9EF;font-style:italic">	interface</span><span> </span><span style="color:#A6E22E;text-decoration:underline">HTMLElementTagNameMap</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#E6DB74">		'module-scrollarea'</span><span style="color:#F92672">:</span><span> </span><span style="color:#A6E22E;text-decoration:underline">Component</span><span style="color:#F8F8F2">&#x3C;</span><span style="color:#A6E22E;text-decoration:underline">ModuleScrollareaProps</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#F8F8F2">	}</span></span>
<span class="line"><span style="color:#F8F8F2">}</span></span>
<span class="line"></span></code></pre>
		<basic-button class="copy">
			<button type="button" class="secondary small">
				<span class="label">Copy</span>
			</button>
		</basic-button>
	</module-codeblock>
</div>
</module-tabgroup>