my-counter {
	display: flex;
	gap: 0.5rem;
	margin-block: 1rem;

	p {
		display: inline-block;
		margin: 0;
		flex: 1;
	}

	span {
		margin-right: 0.5rem;
	}

	button {
		padding: 0.25rem 0.5rem;
		flex: 0;
	}
}
