<ul>
	<li>
		inherited (en):
		<basic-number
			value="25678.9"
			options='{"style":"unit","unit":"liter","unitDisplay":"long"}'
		></basic-number>
	</li>
	<li>
		de-CH:
		<basic-number
			lang="de-CH"
			amount="25678.9"
			options='{"style":"currency","currency":"CHF"}'
		></basic-number>
	</li>
	<li>
		fr-CH:
		<basic-number
			lang="fr-CH"
			amount="25678.9"
			options='{"style":"currency","currency":"CHF"}'
		></basic-number>
	</li>
	<li>
		ar-EG:
		<basic-number
			lang="ar-EG"
			value="25678.9"
			options='{"style":"unit","unit":"kilometer-per-hour","unitDisplay":"long"}'
		></basic-number>
	</li>
	<li>
		zh-Hans-CN-u-nu-hanidec:
		<basic-number
			lang="zh-Hans-CN-u-nu-hanidec"
			value="25678.9"
			options='{"style":"unit","unit":"second","unitDisplay":"long"}'
		></basic-number>
	</li>
</ul>
