module-catalog {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);

	> header,
	p {
		margin: 0;
	}

	& ul {
		padding: 0;
		margin: 0;
	}

	& header,
	li {
		display: flex;
		gap: var(--space-m);
		justify-content: space-between;
	}
}
