<module-colorinfo color="#143dda">
	<details>
		<summary>
			<div class="summary">
				<span class="swatch"></span>
				<span class="label">
					<strong>Blue</strong>
					<small class="value">#143dda</small>
				</span>
			</div>
		</summary>
		<div class="details">
			<dl>
				<dt>Lightness:</dt>
				<dd class="lightness"></dd>
				<dt>Chroma:</dt>
				<dd class="chroma"></dd>
				<dt>Hue:</dt>
				<dd class="hue"></dd>
			</dl>
			<dl>
				<dt>OKLCH:</dt>
				<dd class="oklch"></dd>
				<dt>RGB:</dt>
				<dd class="rgb"></dd>
				<dt>HSL:</dt>
				<dd class="hsl"></dd>
			</dl>
		</div>
	</details>
</module-colorinfo>
