<module-colorinfo color="#143dda">
	<details>
		<summary>
			<div class="summary">
				<span class="swatch"></span>
				<span class="label">
					<strong>Blue</strong>
					<small class="hex"></small>
				</span>
			</div>
		</summary>
		<div class="details">
			<dl>
				<dt>Lightness:</dt>
				<dd>
					<basic-number
						class="lightness"
						options="{style:'percent',maximumFractionDigits:2}"
					></basic-number>
				</dd>
				<dt>Chroma:</dt>
				<dd>
					<basic-number
						class="chroma"
						options="{maximumFractionDigits:4}"
					></basic-number>
				</dd>
				<dt>Hue:</dt>
				<dd>
					<basic-number
						class="hue"
						options="{maximumFractionDigits:2}"
					></basic-number>
				</dd>
			</dl>
			<dl>
				<dt>OKLCH:</dt>
				<dd>
					oklch(<basic-number
						class="lightness"
						options="{maximumFractionDigits:4}"
					></basic-number>
					<basic-number
						class="chroma"
						options="{maximumFractionDigits:4}"
					></basic-number>
					<basic-number
						class="hue"
						options="{maximumFractionDigits:2}"
					></basic-number
					>)
				</dd>
				<dt>RGB:</dt>
				<dd class="rgb"></dd>
				<dt>HSL:</dt>
				<dd class="hsl"></dd>
			</dl>
		</div>
	</details>
</module-colorinfo>
