<form-colorslider color="#143dda" axis="l">
	<label for="lightness">Lightness</label>
	<div class="input">
		<input id="lightness" name="lightness" type="number" />
		<span class="unit">%</span>
	</div>
	<div class="buttons">
		<button
			type="button"
			class="decrement"
			aria-label="Decrement lightness"
		>
			−
		</button>
		<button
			type="button"
			class="increment"
			aria-label="Increment lightness"
		>
			+
		</button>
	</div>
	<div class="slider" role="slider" tabindex="0">
		<canvas width="360" height="1"></canvas>
		<span class="thumb"></span>
	</div>
</form-colorslider>
